<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edible Industries</title>
  <link rel="stylesheet" href="/stylesheets/filepond.min.css">
  <link type="text/css" href="/stylesheets/filepond-plugin-image-preview.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/select2.min.css">
  <link rel="stylesheet" href="/stylesheets/nepali.datepicker.min.css">
  <link rel="stylesheet" href="/stylesheets/bulma-tooltip.min.css">
  <link rel="stylesheet" href="/stylesheets/dataTables.bulma.min.css">

</head>

<body>
  <div class="preloader">
    <div class="preloader-icon"></div>
  </div>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">

      <div class="navbar-brand">
        <a class="navbar-item" href="/" style="padding: 0;">
          <img src="/images/logo_nav.png" class="company-logo-nav">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Home
          </a>
          <a href="/inventory" class="navbar-item">
            Inventory
          </a>
          <a href="/customer" class="navbar-item">
            Customer
          </a>
          <a href="/billing" class="navbar-item">
            Billing
          </a>
          <a href="/warehouse" class="navbar-item">
            Warehouse
          </a>
          <% if (check_perm()) { %>
          <a href="/records" class="navbar-item">
            Reports
          </a>
          <% } %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Hello <%=first_name%>
            </a>

            <div class="navbar-dropdown">
              <% if (check_perm()) { %>
              <a href="/auth/users" class="navbar-item">
                Users
              </a>
              <hr class="navbar-divider">
              <% } %>
              <a href="/auth/logout" class="navbar-item">
                Log Out
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <% if(typeof flash_message !== 'undefined' && typeof flash_color !== 'undefined') { %>
  <div class="notification is-<%=flash_color%> is-light">
    <button class="delete"></button>
    <%=flash_message %>
  </div>
  <% } %>
  <div class="notification is-warning is-light" id="warning-message" style="display: none;">
    <button class="delete"></button>
    <p>This is a warning Message</p>
  </div>
  <% if(typeof breadcrumbs !== 'undefined') { %>
  <div class="container">
    <div class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <% for (var i = 0; i < breadcrumbs.length; i++) { %>
        <% var breadcrumb = breadcrumbs[i]; %>
        <li <%= breadcrumbs.length == i+1? 'class=is-active':'' %>><a href="<%=breadcrumb.link%>"
            <%= breadcrumbs.length == i+1? 'aria-current=page':'' %>> <%=breadcrumb.name%> </a></li>
        <% } %>
      </ul>
    </div>
  </div>
  <% } %>