<%include ../partials/header %>

<div class="container">
    <div class="columns">
        <div class="column">
            <h1 class="title">Inventory</h1>
        </div>
        <div class="column is-2">
            <button class="button is-success is-rounded" id="add-inventory-button">
                <span class="icon">
                    <i class="fas fa-plus fa-xs"></i>
                </span>
                <span>
                    Add Inventory Item
                </span>
            </button>
        </div>
    </div>
    <div class="columns is-multiline" id="inventory-item-container">
        <% inventories.forEach(inventory => { %>
        <div class="column is-4">
            <div class="card inventory-card" data-value="<%=inventory.id%>">
                <div class="card-content">
                    <button class="edit" onclick="window.location.href = '/inventory/edit/<%=inventory.id%>/'"
                        aria-label="close"><i class="fas fa-pen"></i></button>
                    <div class="columns">
                        <div class="column is-3">
                            <img src="<%=inventory.image%>" alt="">
                        </div>
                        <div class="column">
                            <h1 class="title is-4">
                                <%=inventory.name%>
                            </h1>
                            <p class="sustitle"><%=inventory.description%></p>
                        </div>
                    </div>
                    <div class="columns inventory-description">
                        <div class="column is-4">
                            <p>Type:
                                <strong><%=inventory.type.replace(/\w\S*/g, (w) => (w.replace(/^\w/, (c) => c.toUpperCase())));%></strong>
                            </p>
                        </div>

                        <div class="column">
                            <p>Cost: <strong>Re. <%=inventory.cost%></strong> </p>
                        </div>
                        <div class="column">
                            <p>Total Asset: <strong>Re. <%=inventory.cost*inventory.total%></strong> </p>
                        </div>

                    </div>

                    <div class="columns inventory-description">
                        <div class="column is-4">
                            In Stock: <strong><%= inventory.in_stock %></strong>
                        </div>
                        <div class="column">
                            Total: <strong><%= inventory.total%></strong>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <progress class="progress is-<%=inventory.color%>" value="<%=inventory.in_stock%>"
                                max="<%=inventory.total%>"></progress>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <% }); %>



    </div>
</div>

<div class="modal" id="add-inventory-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add New Inventory</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="post">
                <div class="columns">
                    <div class="column is-3">
                        <input type="file" class="filepond" name="inventory"
                            accept="image/png, image/jpeg, image/gif" />
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" name="name" placeholder="Name">
                                <p class="help is-danger" style="display: none;">Enter Valid Name</p>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <input class="input" name="description" type="text" placeholder="Description">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Type</label>
                            <div class="control">
                                <div class="select">
                                    <select name="type">
                                        <option value="purchased">Purchased</option>
                                        <option value="manufactured">Manufactured</option>
                                    </select>
                                    <p class="help is-danger" style="display: none;">Enter Valid Type</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label cost-label">Cost</label>

                            <div class="control has-icons-left">
                                <input class="input" min=".1" step="any" name="cost" type="number" placeholder="Cost">
                                <span class="icon is-small is-left">
                                    Re.
                                </span>
                                <p class="help is-danger" style="display: none;">Enter Valid Cost</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="batch-container" style="margin-bottom: 20px;">
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">Packing</label>
                                <div class="control">
                                    <input required type="text" class="input" placeholder="Packing" name="batch_name[]" value="Single" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">Quantity</label>
                                <div class="control">
                                    <input required type="number" min="0" step="1" class="input" placeholder="Quantity"
                                        name="batch_quantity[]" readonly value="1">
                                </div>
                            </div>
                        </div>
                        <div class="column is-1">
                            
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-success is-rounded is-small" type="button" id="add-batch-button">
                            <span class="icon is-small">
                                <i class="fas fa-plus fa-xs"></i>
                            </span>
                            <span>
                                Packing
                            </span>
                        </button>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Submit</button>
                    </div>
                    <div class="control">
                        <button type="button" class="button is-link is-light close-modal">Cancel</button>
                    </div>
                </div>

            </form>
        </section>
    </div>
</div>

<%include ../partials/footer %>