<%include ../partials/header %>

<div class="container">
    <div class="description-container">
        <div class="columns">
            <div class="column is-3">
                <img src="<%=inventory.image%>" alt="">
            </div>
            <div class="column is-3">
                <div class="title"><%=inventory.name%></div>
                <div class="subtitle"><%=inventory.description%> </div>
                <div>
                    <p>Type:
                        <strong><%=inventory.type.replace(/\w\S*/g, (w) => (w.replace(/^\w/, (c) => c.toUpperCase())));%></strong>
                    </p>
                </div>
                <div>
                    <p>Warehouse: 
                        <strong><%=warehouse.name%></strong>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column is-3">
                        <p>
                            Default Cost: <strong>Re. <%=inventory.cost%></strong>
                        </p>
                    </div>
                    <div class="column">
                        <p>Total Asset: <strong>Re. <%= inventory.cost * total%></strong>
                        </p>
                    </div>
                    <% if (check_perm()) { %>
                    <div class="column is-3">
                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button class="button is-info is-rounded is-small"
                                    onclick="window.location.href = '/inventory/edit/<%=inventory.id%>/'"
                                    aria-label="close">
                                    <span class="icon"><i class="fas fa-pen"></i></span>
                                    <span>Edit</span>
                                </button>
                            </div>
                            <div class="control">
                                <button class="button add-inventory-record is-success is-rounded is-small">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    <span>New Record</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <% }else{ %>
                    <div class="column is-3">
                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button class="button add-inventory-record is-success is-rounded is-small">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    <span>New Record</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="columns">
                    <div class="column">
                        In Stock: <strong><%= in_stock %></strong>
                    </div>
                    <div class="column is-2">
                        Total <strong><%= total %></strong>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <progress class="progress is-<%=color%>" value="<%=in_stock%>"
                            max="<%=total%>"><%=percent%>%</progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="tabs is-boxed" style="margin-top: 10px;">
        <ul>
            <li class="tab-link is-active" id="bill-tabs-link"><a>Bills</a></li>
            <li class="tab-link" id="history-tabs-link"><a>History</a></li>
            <li class="tab-link" id="batches-tabs-link"><a>Packing</a></li>
            <li class="tab-link" id="reports-tabs-link"><a>Reports</a></li>
        </ul>
    </div>

    <div class="tab-content" id="history-tab" style="display: none;">
        <div class="columns">
            <div class="column">
                <% var inventory_type = inventory.type == 'manufactured'? 'Manufacture': 'Purchase' %>
                <h1 class="title is-3 is-capitalized"><%=inventory_type%> History</h1>
                <table id="history-table" class="table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Packing</th>
                            <th>Type</th>
                            <th>Quantity</th>
                            <th>Cost</th>
                            <th>Date</th>
                            <% if(check_perm()){ %>
                            <th>Edit/Delete</th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < inventory.inventory_records.length; i++) { var record = inventory.inventory_records[i]; %>
                        <%
                            var color = 'has-text-success';
                            if (record.type == 'sold' || record.type == 'discarded' || record.type == 'rented') {
                                if (record.type == 'sold' || record.type == 'rented') {
                                    color = '';
                                }else{
                                    color = 'has-text-danger';
                                }
                            }

                            var hasPacking = typeof record.inventory_batch_record !== 'undefined' && record.inventory_batch_record !== null;
                        %>
                        <tr class="<%= record.type == 'sold'?'bill-id-show-container':''; %>">
                            <td><%=(i+1)%></td>
                            <td><%=record.user.first_name+' '+record.user.last_name;%>
                            <% if (record.type == 'sold') { %>
                            <div class="has-text-success bill-id-show">
                                <p><%=record.bill_id%></p>
                            </div>
                            <% } %>
                            </td>
                            <% if (hasPacking) { %>
                            <td><%=record.inventory_batch_record.inventory_batch.name%>
                                (<%=record.inventory_batch_record.inventory_batch.quantity%>)</td>
                            <% }else{ %>
                            <td>Single</td>
                            <% } %>
                            <td class="is-capitalized <%=color%>"><%=record.type%></td>
                            <% if (hasPacking) { %>
                            <td>(<%=record.inventory_batch_record.inventory_batch.quantity%> *
                                <%=record.inventory_batch_record.value%>) <%=record.value%></td>
                            <% }else{ %>
                            <td><%=record.value%></td>
                            <% } %>
                            <% if (record.type == 'purchased' || record.type == 'manufactured'){ %>
                            <td><%=record.cost%></td>
                            <% }else{ %>
                            <td></td>
                            <% } %>
                            <td><%=toNepaliDate(record.recordDate);%></td>
                            <% if(check_perm()) { %>
                            <td>
                                <% if(record.type == 'discarded' || record.type == 'purchased' || record.type == 'manufactured') { %>
                                <div class="field  is-grouped">
                                    <div class="control">
                                        <button
                                        onclick = "recordEdit(
                                            '<%=toNepaliDate(record.recordDate);%>',
                                            '<%=record.type%>',
                                            '<%=record.cost%>',
                                            '<%=record.inventory_batch_record.inventory_batch.id%>',
                                            '<%=record.value%>',
                                            '<%=record.id%>'
                                        );"
                                        class="record-edit-button type-edit-button has-text-info"><i
                                                class="fas fa-pen"></i></button>
                                    </div>
                                    <div class="control">
                                        <button class="record-delete-button type-delete-button has-text-danger"
                                        onclick = "recordDelete(
                                            '<%=record.id%>'
                                        );"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                                <% } %>
                            </td>
                            <% } %>
                        </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <% if(check_perm()){ %>
                            <th></th>
                            <% } %>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="tab-content" id="reports-tab" style="display: none;">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Reports</h1>
                <!-- All the reports will be shown here -->
                <h3 class="title is-5">Date Range</h3>
                <div class="columns">
                    <div class="column is-3">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="report-date-from" class="label">From: </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control is-expanded">
                                        <input type="text" class="input" value="<%= reports.start_of_month %>" id="report-date-from">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="report-date-to" class="label">To: </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control is-expanded">
                                        <input type="text" class="input" id="report-date-to" value="<%= reports.today %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <p class="has-text-success" id="report-message">Some Message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content" id="batches-tab" style="display: none;">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Packing</h1>
                <% if (batches.length == 0) { %>
                <h1 class="title is-4">No Packing Found</h1>
                <button class="button is-rounded is-success" id="add-batch-button">
                    <span class="icon is-small">
                        <i class="fas fa-plus fa-xs"></i>
                    </span>
                    <span>Add Packing</span>
                </button>
                <% }else{ %>
                <table class="table is-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Packing</th>
                            <th>Quantity</th>
                            <% if(check_perm()) { %>
                            <th>Action</th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < batches.length; i++) { const batch = batches[i]; %>
                        <tr>
                            <td><%=(i+1)%></td>
                            <td><%=batch.name %></td>
                            <td><%=batch.quantity%></td>
                            <% if(check_perm()) { %>
                            <td>
                                <% if (batch.name != 'Single') {%>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button data-name="<%=batch.name%>" data-quantity="<%=batch.quantity%>"
                                            value="<%=batch.id%>"
                                            class="batch-edit-button type-edit-button has-text-info"><i
                                                class="fas fa-pen"></i></button>
                                    </div>
                                    <div class="control">
                                        <button value="<%=batch.id%>"
                                            class="type-delete-button has-text-danger batch-delete-button"><i
                                                class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                                <% } %>
                            </td>
                            <% } %>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% if(check_perm()) { %>
                <div class="columns">
                    <div class="column">
                        <button class="button is-rounded is-success" id="add-batch-button">
                            <span class="icon is-small">
                                <i class="fas fa-plus fa-xs"></i>
                            </span>
                            <span>Add Packing</span>
                        </button>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
        </div>
    </div>


    <div class="tab-content" id="bill-tab">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Bills</h1>
                <div class="columns">
                    <div class="column is-2">
                        <label for="from_date_billing" class="label">From</label>
                        <input type="text" class="input" id="from_date_billing">
                        <button class="clear-button"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="column is-2">
                        <label for="to_date_billing" class="label">To</label>
                        <input type="text" class="input" id="to_date_billing">
                        <button class="clear-button"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <table id="billing-table" class="table is-striped is-hoverable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Bill No</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Customer Type</th>
                            <th>Billed By</th>
                            <th>Amount</th>
                            <th>Quantity</th>
                            <th>Payment</th>
                            <th>Rented</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < bills.length; i++) { const bill = bills[i]; %>
                        <tr onclick="window.location.href =  '/billing/<%=bill.id%>'">
                            <td><%=bill.track_id;%></td>
                            <td><%=bill.nepali_date;%></td>
                            <td><%=bill.customer.first_name+' '+bill.customer.last_name;%></td>
                            <td><%=bill.customer.customer_type.name;%></td>
                            <td><%=bill.user.first_name+' '+bill.user.last_name;%></td>
                            <td>Re. <%=bill.inv_total.toFixed(2); %></td>
                            <td><%=bill.total_items; %></td>
                            <td><%=bill.payment_method%></td>
                            <td class="rent-status" data-key="<%=bill.id%>">
                                <%= bill.rented?'Yes':'No' %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="add-inventory-record-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New Inventory Record</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form action="/inventory/<%=inventory.id%>" method="POST">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="type" class="label">Type</label>
                                <div class="select is-fullwidth">
                                    <select name="type" id="type">
                                        <% if (inventory.type == 'purchased') { %>
                                        <option value="purchased">Purchased</option>
                                        <% }else{ %>
                                        <option value="manufactured">Manufactured</option>
                                        <% } %>
                                        <option value="discarded">Discarded</option>
                                        <option value="transferred">Transferred</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if(check_perm()){ %>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="record_date" class="label">Record Date</label>
                                <input type="text" class="input" required id="record_date" name="record_date">
                            </div>
                        </div>
                    </div>
                    <% }else{ %>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="record_date" class="label">Record Date</label>
                                <div class="select">
                                    <select name="record_date" id="record_date">
                                        <% for(let i = 0; i < last_5_dates.length; i++){ var d = last_5_dates[i] %>
                                            <option value="<%=d.format("DD/MM/YYYY");%>"><%=d%></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="inventory_cost" class="label">Cost</label>
                                <input type="number" class="input" step="any" name="inventory_cost" id="inventory_cost"
                                    value="<%=inventory.cost%>">
                            </div>
                        </div>
                    </div>
                    <div class="column" id="inventory-warehouse-container" style="display: none;">
                        <div class="field">
                            <div class="control">
                                <label for="inventory_warehouse" class="label">Warehouse</label>
                                <div class="select is-fullwidth">
                                    <select name="warehouse" id="inventory_warehouse">
    
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label for="inv-batch" class="label">Packing</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select name="batch" id="inv-batch">
                                        <% for(let i = 0; i < batches.length; i++) { const batch = batches[i]; %>
                                        <option data-quant="<%=batch.quantity%>" value="<%=batch.id%>"><%=batch.name%>
                                            (<%=batch.quantity%>)</option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="quantity" class="label">Quantity</label>
                                <input type="number" min="0" name="quantity" id="quantity" class="input" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="column is-2">
                        <div class="field">
                            <label for="total-quant" class="label">Total</label>
                            <div class="control">
                                <input type="text" class="input" readonly disabled id="total-quant">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-rounded is-success">Add</button>
                    </div>
                    <div class="control">
                        <button type="button" class="button close-modal is-rounded is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


<div class="modal" id="edit-inventory-record-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit Inventory Record</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form action="/inventory/edit/<%=inventory.id%>" method="POST">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="edit-type" class="label">Type</label>
                                <input type="readonly" disabled value="" class="input is-capitalized"
                                    id="edit-inventory-type">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="edit_record_date" class="label">Record Date</label>
                                <input type="text" class="input" required id="edit_record_date" name="record_date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="edit_inventory_cost" class="label">Cost</label>
                                <input type="number" class="input" step="any" name="inventory_cost"
                                    id="edit_inventory_cost" value="<%=inventory.cost%>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label for="edit-inv-batch" class="label">Packing</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select name="batch" id="edit-inv-batch">
                                        <% for(let i = 0; i < batches.length; i++) { const batch = batches[i]; %>
                                        <option data-quant="<%=batch.quantity%>" value="<%=batch.id%>"><%=batch.name%>
                                            (<%=batch.quantity%>)</option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="edit-quantity" class="label">Quantity</label>
                                <input type="number" min="0" name="quantity" id="edit-quantity" class="input" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="column is-2">
                        <div class="field">
                            <label for="edit-total-quant" class="label">Total</label>
                            <div class="control">
                                <input type="text" class="input" readonly disabled id="edit-total-quant">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-rounded is-success">Save</button>
                    </div>
                    <div class="control">
                        <button type="button" class="button close-modal is-rounded is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


<div class="modal" id="add-batch-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New Packing</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form action="/inventory/batch/<%=inventory.id%>" method="POST">
                <div class="field">
                    <label for="batch-name" class="label">Packing</label>
                    <div class="control">
                        <input type="text" class="input" placeholder="Packing" name="batch-name" id="batch-name"
                            required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label for="batch-quantity" class="label">Quantity</label>
                        <input type="number" min="1" name="batch-quantity" id="batch-quantity" class="input"
                            placeholder="Quantity">
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-rounded is-success">Add</button>
                    </div>
                    <div class="control">
                        <button type="button" class="button close-modal is-rounded is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


<div class="modal" id="confirm-delete">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Confirm Delete Batch?</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column">
                    <form action="/inventory/batch/<%=inventory.id%>?_method=DELETE" method="POST">
                        <button class="button is-danger is-rounded">Delete</button>
                        <input type="hidden" value="" name="batch-id" id="delete-batch-id">
                    </form>
                </div>
                <div class="column">
                    <button type="button" class="button is-link is-light is-rounded close-modal">Cancel</button>
                </div>
            </div>
        </section>
    </div>
</div>



<div class="modal" id="confirm-delete-record">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Confirm Delete Record?</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column">
                    <form action="/inventory/record/<%=inventory.id%>?_method=DELETE" method="POST">
                        <button class="button is-danger is-rounded">Delete</button>
                        <input type="hidden" value="" name="record_id" id="delete-record-id">
                    </form>
                </div>
                <div class="column">
                    <button type="button" class="button is-link is-light is-rounded close-modal">Cancel</button>
                </div>
            </div>
        </section>
    </div>
</div>



<div class="modal" id="edit-batch-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit Packing</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form action="/inventory/batch/<%=inventory.id%>?_method=PUT" method="POST">
                <input type="hidden" value="" name="batch-id" id="edit-batch-id">
                <div class="field">
                    <label for="batch-name" class="label">Packing</label>
                    <div class="control">
                        <input type="text" class="input" placeholder="Packing" name="batch-name" id="edit-batch-name"
                            required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label for="batch-quantity" class="label">Quantity</label>
                        <input type="number" min="1" name="batch-quantity" id="edit-batch-quantity" class="input"
                            placeholder="Quantity">
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-rounded is-success">Save</button>
                    </div>
                    <div class="control">
                        <button type="button" class="button close-modal is-rounded is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


<script>
    var image_location = "<%=inventory.image%>";
    var totals_bills = parseInt("<%= bills.length %>");
    var inventory_id = parseInt("<%= inventory.id %>");
</script>

<%include ../partials/footer %>