<%include ../partials/header %>

<div class="container">
    <div class="description-container">
        <div class="columns">
            <div class="column is-3">
                <img src="<%=inventory.image%>" alt="">
            </div>
            <div class="column is-3">
                <div class="title"><%=inventory.name%></div>
                <div class="subtitle"><%=inventory.description%> </div>
                <div>
                    <p>Type:
                        <strong><%=inventory.type.replace(/\w\S*/g, (w) => (w.replace(/^\w/, (c) => c.toUpperCase())));%></strong>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column is-3">
                        <p>
                            Cost: <strong>Re. <%=inventory.cost%></strong>
                        </p>
                    </div>
                    <div class="column">
                        <p>Total Asset: <strong>Re. <%= inventory.cost * total%></strong>
                        </p>
                    </div>
                    <div class="column is-3">
                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button class="button is-info is-rounded is-small"
                                    onclick="window.location.href = '/inventory/edit/<%=inventory.id%>/'"
                                    aria-label="close">
                                    <span class="icon"><i class="fas fa-pen"></i></span>
                                    <span>Edit</span>
                                </button>
                            </div>
                            <div class="control">
                                <button class="button add-inventory-record is-success is-rounded is-small">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    <span>New Record</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        In Stock: <strong><%= in_stock %></strong>
                    </div>
                    <div class="column is-2">
                        Total <strong><%= total %></strong>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <progress class="progress is-<%=color%>" value="<%=in_stock%>"
                            max="<%=total%>"><%=percent%>%</progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="tabs is-boxed" style="margin-top: 10px;">
        <ul>
            <li class="tab-link is-active" id="bill-tabs-link"><a>Bills</a></li>
            <li class="tab-link" id="history-tabs-link"><a>History</a></li>
            <li class="tab-link" id="reports-tabs-link"><a>Reports</a></li>
        </ul>
    </div>

    <div class="tab-content" id="history-tab" style="display: none;">
        <div class="columns">
            <div class="column">
                <% var inventory_type = inventory.type == 'manufactured'? 'Manufacture': 'Purchase' %>
                <h1 class="title is-3 is-capitalized"><%=inventory_type%> History</h1>
                <table id="history-table" class="table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Type</th>
                            <th>Quantity</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < inventory.inventory_records.length; i++) { var record = inventory.inventory_records[i]; %>
                        <%
                            var color = 'has-text-success';
                            if (record.type == 'sold' || record.type == 'discarded' || record.type == 'rented') {
                                if (record.type == 'sold' || record.type == 'rented') {
                                    color = '';
                                }else{
                                    color = 'has-text-danger';
                                }
                            }
                        %>
                        <tr>
                            <td><%=(i+1)%></td>
                            <td><%=record.user.first_name+' '+record.user.last_name;%></td>
                            <td class="is-capitalized <%=color%>"><%=record.type%></td>
                            <td><%=record.value%></td>
                            <td><%=toNepaliDate(record.createdAt);%></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="tab-content" id="reports-tab" style="display: none;">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Reports</h1>
            </div>
        </div>
    </div>


    <div class="tab-content" id="bill-tab">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Bills</h1>
                <table id="billing-table" class="table is-striped is-hoverable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Bill No</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Customer Type</th>
                            <th>Amount</th>
                            <th>Quantity</th>
                            <th>Due</th>
                            <th>Rented</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < bills.length; i++) { const bill = bills[i]; %>
                        <tr onclick="window.location.href =  '/billing/<%=bill.id%>'">
                            <td><%=bill.track_id;%></td>
                            <td><%=bill.nepali_date;%></td>
                            <td><%=bill.customer.first_name+' '+bill.customer.last_name;%></td>
                            <td><%=bill.customer.customer_type.name;%></td>
                            <td>Re. <%=bill.total; %></td>
                            <td><%=bill.total_items; %></td>
                            <% if(bill.paid) { %>
                            <td> <span class="has-text-success">Paid</span> </td>
                            <% }else{ %>
                            <% if(!bill.danger) { %>
                            <td> <span><%=bill.nepali_due;%></span> </td>
                            <% }else{ %>
                            <td> <span class="has-text-danger"><%=bill.nepali_due;%></span> </td>
                            <% } %>
                            <% } %>
                            <td class="rent-status" data-key="<%=bill.id%>">
                                
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<div class="modal" id="add-inventory-record-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New Inventory Record</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form action="/inventory/<%=inventory.id%>" method="POST">
                <div class="field">
                    <div class="control">
                        <label for="type" class="label">Type</label>
                        <div class="select is-fullwidth">
                            <select name="type" id="type">
                                <% if (inventory.type == 'purchased') { %>
                                <option value="purchased">Purchased</option>
                                <% }else{ %>
                                <option value="manufactured">Manufactured</option>
                                <% } %>
                                <option value="discarded">Discarded</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label for="quantity" class="label">Quantity</label>
                        <input type="number" min="0" name="quantity" id="quantity" class="input">
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-rounded is-success">Add</button>
                    </div>
                    <div class="control">
                        <button type="button" class="button close-modal is-rounded is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


<script>
    var image_location = "<%=inventory.image%>";
    var totals_bills = parseInt("<%= bills.length %>");
</script>

<%include ../partials/footer %>