<%include ../partials/header %>

<div class="container">
    <h1 class="title">Customer</h1>
    <div class="card">
        <div class="card-content">
            <div class="columns">
                <div class="column is-4">
                    <button onclick="window.location.href = '/customer/edit/<%=customer.id%>'"
                        class="button is-rounded is-success" id="edit-cutomer-button">Edit</button>
                    <h1 class="title is-4"><%=customer.first_name%> <%=customer.last_name%></h1>
                    <h5 class="subtitle is-6"><%=customer.organization%></h5>
                    <div class="columns">
                        <div class="column is-4">
                            <p>Customer Type:</p>
                            <p>Added On:</p>
                        </div>
                        <div class="column">
                            <p><strong><%=customer.customer_type.name%></strong></p>
                            <p><strong><%=customer.nepali_date%></strong></p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="columns">
                        <div class="column is-2">
                            <p>Email: </p>
                            <p>Phone: </p>
                            <p>Address: </p>
                            <p>Anchal: </p>
                            <p>Jilla: </p>
                            <p>City/Postal Code: </p>
                        </div>
                        <div class="column">
                            <p><strong><%=customer.email%></strong></p>
                            <p><strong><%=customer.phone%></strong></p>
                            <p><strong><%=customer.address1%></strong></p>
                            <p><strong><%=customer.zone.value%></strong></p>
                            <p><strong><%=customer.district.value%></strong></p>
                            <p><strong><%=customer.post_office.name%> (<%=customer.post_office.value%>) </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs is-boxed" style="margin-top: 10px;">
        <ul>
            <li class="tab-link is-active" id="rates-tabs-link"><a>Rates</a></li>
            <li class="tab-link" id="records-tabs-link"><a>Records</a></li>
            <li class="tab-link" id="bill-tabs-link"><a>Bills</a></li>
        </ul>
    </div>

    <div class="tab-content" id="rates-tab">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Rates</h1>
                <table class="is-fullwidth table is-striped is-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Inventory</th>
                            <th>Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < inventories.length; i++) { const inventory = inventories[i]; %>
                        <tr>
                            <td><%= inventory.id; %></td>
                            <td><%= inventory.name; %></td>
                            <td><%= getInventoryRate(inventory.id); %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

    <div class="tab-content" id="records-tab" style="display: none;">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Records</h1>
            </div>
        </div>
    </div>


    <div class="tab-content" id="bill-tab" style="display: none;">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Bills</h1>
            </div>
        </div>
    </div>



</div>

<%include ../partials/footer %>