<%include ../partials/header %>

<div class="container">
    <h1 class="title">Customer</h1>
    <div class="card">
        <div class="card-content">
            <div class="columns">
                <div class="column is-4">
                    <button onclick="window.location.href = '/customer/edit/<%=customer.id%>'"
                        class="button is-rounded is-success" id="edit-cutomer-button">Edit</button>
                    <% if (customer.organization.length == 0) {  %>
                    <h1 class="title is-4"><%=customer.first_name%> <%=customer.last_name%></h1>
                    <% }else{ %>
                    <h5 class="title is-4"><%=customer.organization%></h5>
                    <h1 class="subtitle is-6"><%=customer.first_name%> <%=customer.last_name%></h1>
                    <% } %>
                    <div class="columns">
                        <div class="column">
                            <table class="details-table">
                                <tbody>
                                    <tr>
                                        <th style="width: 150px;">Customer Type: </th>
                                        <td><%=customer.customer_type.name%></td>
                                    </tr>
                                    <tr>
                                        <th>Added On:</th>
                                        <td><%=customer.nepali_date%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <table class="details-table">
                                <tbody>
                                    <tr>
                                        <th style="width: 170px;">Email: </th>
                                        <td><%=customer.email%></td>
                                    </tr>
                                    <tr>
                                        <th>Phone: </th>
                                        <td><%=customer.new_phone%></td>
                                    </tr>
                                    <tr>
                                        <th>Address: </th>
                                        <td><%=customer.address1%></td>
                                    </tr>
                                    <tr>
                                        <th>Anchal: </th>
                                        <td><%=customer.zone == null ? '': customer.zone.value%></td>
                                    </tr>
                                    <tr>
                                        <th>Jilla: </th>
                                        <td><%=customer.district == null ? '': customer.district.value%></td>
                                    </tr>
                                    <tr>
                                        <th>City/Postal Code: </th>
                                        <td><%=customer.post_office == null ? '': customer.post_office.name%> <%=customer.post_office == null ? '' : '('+customer.post_office.value+')' %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs is-boxed" style="margin-top: 10px;">
        <ul>
            <li class="tab-link is-active" id="rates-tabs-link"><a>Rates</a></li>
            <li class="tab-link" id="records-tabs-link"><a>Records</a></li>
            <li class="tab-link" id="bill-tabs-link"><a>Bills</a></li>
        </ul>
    </div>

    <div class="tab-content" id="rates-tab">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Rates</h1>
                <table class="is-fullwidth table is-striped is-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Inventory</th>
                            <th>Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < inventories.length; i++) { const inventory = inventories[i]; %>
                        <tr>
                            <td><%= inventory.id; %></td>
                            <td><%= inventory.name; %></td>
                            <td><%= getInventoryRate(inventory.id); %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

    <div class="tab-content" id="records-tab" style="display: none;">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Records</h1>
            </div>
        </div>
    </div>


    <div class="tab-content" id="bill-tab" style="display: none;">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Bills</h1>
            </div>
        </div>
    </div>



</div>

<%include ../partials/footer %>