<%include ../partials/header %>
<button style="position: absolute; right: 86px; top: 80px;" class="button is-success is-rounded" onclick="window.location.href = '/customer/add'" id="add-customer">
    <span class="icon">
        <i class="fas fa-plus fa-xs"></i>
    </span>
    <span>
        Add Customer
    </span>
</button>
<div class="container">
    <h1 class="title">Customer</h1>
    <div class="card">
        <div class="card-content">
            <div class="columns">
                <div class="column is-4">
                    <button onclick="window.location.href = '/customer/edit/<%=customer.id%>'"
                        class="button is-rounded is-success" id="edit-cutomer-button">Edit</button>
                    <% if (customer.organization.length == 0) {  %>
                    <h1 class="title is-4"><%=customer.first_name%> <%=customer.last_name%></h1>
                    <% }else{ %>
                    <h5 class="title is-4"><%=customer.organization%></h5>
                    <h1 class="subtitle is-6"><%=customer.first_name%> <%=customer.last_name%></h1>
                    <% } %>
                    <div class="columns">
                        <div class="column">
                            <table class="details-table">
                                <tbody>
                                    <tr>
                                        <th style="width: 150px;">Vat Number: </th>
                                        <td><%=customer.vat_number%></td>
                                    </tr>
                                    <tr>
                                        <th style="width: 150px;">Customer Type: </th>
                                        <td><%=customer.customer_type.name%></td>
                                    </tr>
                                    <tr>
                                        <th>Added On:</th>
                                        <td><%=customer.nepali_date%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <table class="details-table">
                                <tbody>
                                    <tr>
                                        <th style="width: 170px;">Email: </th>
                                        <td><%=customer.email%></td>
                                    </tr>
                                    <tr>
                                        <th>Phone: </th>
                                        <td><%=customer.new_phone%></td>
                                    </tr>
                                    <tr>
                                        <th>Address: </th>
                                        <td><%=customer.address1%></td>
                                    </tr>
                                    <tr>
                                        <th>Anchal: </th>
                                        <td><%=customer.zone == null ? '': customer.zone.value%></td>
                                    </tr>
                                    <tr>
                                        <th>Jilla: </th>
                                        <td><%=customer.district == null ? '': customer.district.value%></td>
                                    </tr>
                                    <tr>
                                        <th>City/Postal Code: </th>
                                        <td><%=customer.post_office == null ? '': customer.post_office.name%>
                                            <%=customer.post_office == null ? '' : '('+customer.post_office.value+')' %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs is-boxed" style="margin-top: 10px;">
        <ul>
            <li class="tab-link is-active" id="rates-tabs-link"><a>Rates</a></li>
            <li class="tab-link" id="bill-tabs-link"><a>Bills</a></li>
            <li class="tab-link" id="records-tabs-link"><a>Reports</a></li>
            <li class="tab-link" id="ledger-tabs-link"><a>Ledger</a></li>
        </ul>
    </div>

    <div class="tab-content" id="rates-tab">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Rates</h1>
                <table class="is-fullwidth table is-striped is-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Inventory</th>
                            <th>Packing</th>
                            <th>Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < inventories.length; i++) { const inventory = inventories[i]; %>
                        <% for(let j = 0; j < inventory.inventory_batches.length; j++) { const batch = inventory.inventory_batches[j]; %>
                        <tr>
                            <td><%= batch.id; %></td>
                            <td><%= inventory.name; %></td>
                            <td><%= batch.name; %> (<%= batch.quantity; %>)</td>
                            <td><%= getInventoryRate(batch.id); %></td>
                        </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="tab-content" id="records-tab" style="display: none;">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Reports</h1>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title" id="jars-rented-text"></p>
                                <p class="subtitle">Jars rented</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title" id="month-sale-text"></p>
                                <div class="subtitle">
                                    Sale in 
                                    <div class="form-control" style="display: inline">
                                        <div class="select">
                                            <select id="month-sale">
                                                <% for(let i = 0; i < month_data.length; i++) { var md = month_data[i]; %>
                                                    <option value="<%= md.value %>"><%= md.text %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title" id="total-sale-text"></p>
                                <p class="subtitle">Total sales</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title has-text-danger" id="outstanding-text">19</p>
                                <p class="subtitle">Outstanding</p>
                            </article>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="tab-content" id="ledger-tab" style="display: none;">
        <div class="columns">
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <h1 class="title is-3">Ledger</h1>
                    </div>
                    <div class="column is-3">
                        <h1 class="title is-3">
                            <span style="font-size: 1.2rem">Balance: </span><span id="balance-text"></span>
                        </h1>
                    </div>
                    <div class="column is-2">
                        <button class="button is-rounded is-success" id="deposit-button">
                            <span class="icon is-small">
                                <i class="fas fa-plus fa-xs"></i>
                            </span>
                            <span>Deposit</span>
                        </button>
                    </div>
                </div>
                <table id="ledger-table" class="table is-striped is-hoverable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Balance</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var balance = 0; for(let i = 0; i < ledger_entries.length; i++) { var entry = ledger_entries[i]; if (entry.credit !== null) { balance += entry.credit; } if (entry.debit !== null) { balance -= entry.debit; }  %>
                        <tr onmouseover="showBill(this);" onmouseleave="hideBill(this);">
                            <td><%= entry.id %>
                                <% if(entry.type === 'Deposit') { %>
                                    Bills Paid
                                <% } %>
                                <% if(entry.bill) { %>
                                <div style="display: none" class="bill_tracks">
                                    <a href="/bill/<%=entry.bill.id%>"><%=entry.bill.track_id%></a>
                                </div>
                                <% } %>
                            </td>
                            <td><%= entry.type %></td>
                            <td><%= entry.nepali_date %></td>
                            <td><%= entry.credit === null ? '': entry.credit.toFixed(2); %></td>
                            <td class="<% if(entry.debit !== null){ %>has-text-danger<% } %>"><%= entry.debit === null ? '': entry.debit.toFixed(2); %></td>
                            <td><%= balance.toFixed(2); %></td>
                            <% if(entry.type === 'Deposit') { %>
                                <td>
                                    <div class="field  is-grouped">
                                        <div class="control">
                                            <button class="record-edit-button type-edit-button has-text-info" onclick="editCustomerLedger(
                                                `<%= entry.id %>`,
                                                `<%= entry.credit %>`,
                                                `<%= entry.nepali_date %>`,
                                                `<%= entry.user.id %>`
                                            )"><i class="fas fa-pen"></i></button>
                                        </div>
                                        <div class="control">
                                            <button class="record-delete-button type-delete-button has-text-danger" onclick="deleteCustomerLedger(`<%=entry.id%>`)"><i class="fas fa-trash"></i></button>
                                        </div>
                                    </div>
                                </td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="tab-content" id="bill-tab" style="display: none;">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Bills</h1>
                <div class="columns">
                    <div class="column is-2">
                        <label for="from_date_billing" class="label">From</label>
                        <input type="text" class="input date-picker" id="from_date_billing"><button class="button is-success clear-button"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="column is-2">
                        <label for="to_date_billing" class="label">To</label>
                        <input type="text" class="input date-picker" id="to_date_billing"><button class="button is-success clear-button"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <table id="billing-table" class="table is-striped is-hoverable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Bill No</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Billed By</th>
                            <th>Payment</th>
                            
                            <th>Rented</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < bills.length; i++) { const bill = bills[i]; %>
                        <tr onclick="window.location.href =  '/billing/<%=bill.id%>'">
                            <td><%=bill.track_id;%></td>
                            <td><%=bill.nepali_date;%></td>
                            <td>Re. <%=bill.total; %></td>
                            <td><%= bill.user.first_name+' '+bill.user.last_name %></td>
                            <td><%=bill.payment_method; %></td>
                            <td class="rent-status" data-key="<%=bill.id%>">
                            <%= bill.rented ? 'Yes': 'No'%>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>



</div>


<div class="modal" id="deposit-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Deposit</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form action="/customer/<%=customer.id%>/deposit" method="POST">
                <div class="columns">
                    <% if(check_perm()){ %>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="record_date" class="label">Date</label>
                                <input type="text" class="input" required id="record_date" name="date">
                            </div>
                        </div>
                    </div>
                    <% }else{ %>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="record_date" class="label">Date</label>
                                <div class="select">
                                    <select name="date">
                                        <% for(let i = 0; i < last_5_dates.length; i++){ var d = last_5_dates[i]; %>
                                            <option value="<%=d.format("DD/MM/YYYY");%>"><%=d%></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="column">
                        <div class="field">
                            <label for="deposit-amount" class="label">Amount</label>
                            <input type="number" name="amount" min="0" step="any" required class="input">
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-rounded is-success">Add</button>
                    </div>
                    <div class="control">
                        <button type="button" class="button close-modal is-rounded is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


<script>
    var totals_bills = parseInt("<%=bills.length%>");
    const customer_id = parseInt("<%=customer.id%>");
    const current_month = '<%=month_data[0].value%>';
</script>

<%include ../partials/footer %>