<%include ../partials/header %>
<div class="container" style="margin-bottom: 300px;">
    <div class="columns">
        <div class="column">
            <h1 class="title">New Bill</h1>
        </div>
    </div>

    <form id="new-bill-form" action="/billing" method="post">

        <div class="level">
            <div class="level-left is-3">
                <div class="level-item">
                    <div class="field">
                        <div class="control">
                            <label for="track_id" class="label">Bill No</label>
                            <input type="text" id="track_id" readonly value="<%=billno%>" class="input" name="track_id">
                        </div>
                    </div>
                </div>
            </div>
            <% if (check_perm()){ %>
            <div class="level-right">
                <div class="level-item">
                    <div class="field">
                        <div class="control">
                            <label for="bill_date" class="label">Bill Date</label>
                            <input type="text" class="input" id="bill_date" name="bill_date">
                        </div>
                    </div>
                </div>
            </div>
            <% }else{ %>
            <div class="level-right">
                <div class="level-item">
                    <div class="field">
                        <div class="control">
                            <label for="bill_date" class="label">Bill Date</label>
                            <div class="select">
                                <select name="bill_date" id="bill_date">
                                    <% for(let i = 0; i < last_5_dates.length; i++){ var d = last_5_dates[i] %>
                                        <option value="<%=d.format("DD/MM/YYYY");%>"><%=d%></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <div class="control">
                        <label class="label" for="customer">Customer</label>
                        <select name="customer" id="customer">
                            <option value="" selected disabled></option>
                            <% for(let i = 0; i < customers.length; i++) { const customer = customers[i]; %>
                            <% if (customer.organization.length == 0) { %>
                            <option value="<%= customer.id; %>"><%=customer.first_name+' '+customer.last_name;%>
                            </option>
                            <% }else{ %>
                            <option value="<%= customer.id; %>"><%= customer.organization; %>
                                (<%= customer.first_name+' '+customer.last_name;%>)</option>
                            <% } %>
                            <% } %>
                        </select>
                        <p class="help is-danger" style="display: none;">Please Select A Customer</p>
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button add-customer-button is-info is-rounded"
                            onclick="window.location.href = '/customer/add'" id="add-customer">
                            <span class="icon">
                                <i class="fas fa-plus fa-xs"></i>
                            </span>
                            <span>
                                New Customer
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="has-text-danger" id="total-jars-rented" style="display: none;">Total Jars Rented: <strong>360</strong></p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h5 class="label">Items</h5>
            </div>

        </div>
        <div class="columns">
            <div class="column">
                <table class="table is-bordered is-fullwidth">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Packing</th>
                            <th>Quantity</th>
                            <th>Total Quant</th>
                            <th>Type</th>
                            <th>Rate</th>
                            <th>Sub Total</th>
                            <th style="width: 40px;">
                                <button type="button" class="add-item-button has-text-success"
                                    id="add-inventory-item-button">
                                    <i class="fas fa-plus-circle fa-lg"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="inventory-table-body">

                    </tbody>
                </table>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="payment_method" class="label">Payment Method</label>
                                <div class="select is-fullwidth">
                                    <select name="payment_method" id="payment_method">
                                        <option value="Cash">Cash</option>
                                        <option selected value="Credit">Credit</option>
                                        <option value="Free">Free</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: none;" class="column is-2">
                        <div class="field">
                            <div class="control">
                                <label for="paid" class="label">Paid</label>
                                <div class="checkbox-container">
                                    <input class="tgl tgl-flip" name="paid" value="1" id="cb5" type="checkbox" />
                                    <label class="tgl-btn" data-tg-off="No" data-tg-on="Yes" for="cb5"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns" id="due_date_container">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="due_date" class="label">Due Date</label>
                                <input type="text" class="input" id="due_date" name="due_date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="description" class="label">Description</label>
                                <textarea class="textarea" placeholder="Description" name="description"
                                    id="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <label for="image" class="label">Receipt Image</label>
                        <div class="image-placeholder">
                            <img src="/images/placeholder-vertical.jpg" alt="">
                        </div>
                        <div class="filepond-container">
                            <input type="file" class="filepond" name="inventory"
                                accept="image/png, image/jpeg, image/gif" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="column">
                <div class="columns" style="margin-right: 60px;">
                    <div class="column">
                        <div class="field is-grouped is-grouped-right">
                            <div style="width: 190px; text-align: right;"> <strong>Total</strong></div>
                            <div style="width: 190px; text-align: center;" id="sum-total">Re. 0</div>
                        </div>
                    </div>
                </div>
                <div class="columns" style="margin-right: 60px;">
                    <div class="column">
                        <div class="field is-grouped is-grouped-right">
                            <div style="width: 190px; text-align: right;"> <strong>Discount</strong></div>
                            <div style="width: 150px; margin-left: 10px;" id="discount-percent">
                                <div class="control has-icons-right">
                                    <input value="0" type="number" step="any" min="0" max="100" name="discount_percent"
                                        placeholder="Percent" class="input">
                                    <span class="icon is-right">
                                        %
                                    </span>
                                </div>
                            </div>
                            <div style="width: 150px; margin-left: 10px;" id="discount-value">
                                <span class="control has-icons-left">
                                    <input type="number" step="any" min="0" name="discount_value" class="input">
                                    <span class="icon is-left">
                                        Re.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns" style="margin-right: 60px;">
                    <div class="column">
                        <div class="field is-grouped is-grouped-right">
                            <div style="width: 190px; text-align: right;"> <strong>After Discount</strong></div>
                            <div style="width: 190px; text-align: center;" id="discount-total">Re. 0</div>
                        </div>
                    </div>
                </div>

                <div class="columns" style="margin-right: 60px;">
                    <div class="column">
                        <div class="field is-grouped is-grouped-right">
                            <div style="width: 190px; text-align: right;"> <strong>Tax</strong></div>
                            <div style="width: 150px; margin-left: 10px;" id="tax-percent">
                                <div class="control has-icons-right">
                                    <input type="number" step="any" value="0" min="0" max="100" name="tax_percent"
                                        placeholder="Percent" class="input">
                                    <span class="icon is-right">
                                        %
                                    </span>
                                </div>
                            </div>
                            <div style="width: 150px; margin-left: 10px;" id="tax-value">
                                <span class="control has-icons-left">
                                    <input type="number" step="any" min="0" name="tax_value" class="input">
                                    <span class="icon is-left">
                                        Re.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns" style="margin-right: 60px; border-bottom: 3px solid hsl(141, 71%, 48%);">
                    <div class="column">
                        <div class="field is-grouped is-grouped-right">
                            <div style="width: 190px; text-align: right;"> <strong>Grand Total</strong></div>
                            <div style="width: 190px; text-align: center;" id="grand-total">Re. 0</div>
                        </div>
                    </div>
                </div>
                <div class="columns" style="margin-top: 100px;">
                    <div class="column">
                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button class="button is-large is-success is-rounded">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<template id="inventory-item-template">
    <tr>
        <td class="inv-id">1</td>
        <td class="inv-name">Jar 4 ltr</td>
        <td class="packing-name">
            <div class="select is-fullwidth">
                <select name="packing-name" class="packing">
                    
                </select>
            </div>
        </td>
        <td style="width: 90px;">
            <input min="0" type="number" step="1" value="0" class="input quantity">
        </td>
        <td style="width: 130px;">
            <input min="0" readonly type="number" step="1" value="0" class="input total-quantity">
        </td>
        <td style="width: 130px;">
            <div class="select is-fullwidth">
                <select name="" class="inv-type">
                    <option value="sold">Sold</option>
                    <option value="rented">Rented</option>
                </select>
            </div>
        </td>
        <td style="width: 150px;">
            <div class="field">
                <div class="control has-icons-left">
                    <input min="0" type="number" step="any" class="input rate">
                    <span class="icon is-left">
                        Re.
                    </span>
                </div>
            </div>
        </td>
        <td class="total" style="width: 150px;">Re. 0</td>
        <td style="width: 40px;">
            <button type="button" class="add-item-button remove-item has-text-danger">
                <i class="fas fa-minus-circle fa-lg"></i>
            </button>
        </td>
    </tr>
</template>

<div class="modal" id="select-inventory-item-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content">
                <section class="section">
                    <div class="content">
                        <h4>Select Inventory Item</h4>
                        <hr>
                        <div class="panel list-group">
                            <% for(let i = 0; i < inventories.length; i++) { const inventory = inventories[i]; %>
                            <% var in_stock = 0;  %>
                            <% in_stock = inventory.in_stock; %>
                            <a href="#" data-value="<%=inventory.id%>"
                                class="panel-block list-group-item"><%=inventory.name;%> (In Stock: <%=in_stock%>)</a>
                            <% } %>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <button class="modal-close close-modal is-large" aria-label="close"></button>
</div>

<%include ../partials/footer %>