<%include ../partials/header %>
<button style="position: absolute; right: 86px; top: 70px;" class="button is-success is-rounded" onclick="window.location.href = '/billing/add'" id="add-customer">
    <span class="icon">
        <i class="fas fa-plus fa-xs"></i>
    </span>
    <span>
        New Bill
    </span>
</button>
<div class="container" style="margin-bottom: 300px;">
    <div class="columns">
        <div class="column">
            <h1 class="title">Bill</h1>
        </div>
        <div class="column">
            <div style="display: flex;" class="is-justify-content-flex-end">
                <div class="tags are-medium">
                    <% if (bill.paid) { %>
                    <span class="tag is-success">Paid</span>
                    <% }else{ %>
                    <span class="tag is-warning">Unpaid</span>
                    <% if (bill.danger) { %>
                    <span class="tag is-danger">Overdue</span>
                    <% } %>
                    <% } %>
                    <% if (bill.rented) { %>
                    <span class="tag is-danger">Rented</span>
                    <% } %>
                    <% if (bill.were_rented && !bill.rented) { %>
                    <span class="tag is-success">Returned</span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-3">
            <table>
                <tbody>
                    <tr>
                        <th style="width: 95px; height: 40px;">Bill No: </th>
                        <td>
                            <span style="padding: 5px 8px; border: 1px solid gray; border-radius: 20px;">
                                <%=bill.track_id%>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 95px; height: 165px;">Customer: </th>
                        <td style="font-size: 0.9rem;">
                            <% if (bill.customer.organization.length == 0) { %>
                            <h1 class="title is-4"><a href="/customer/<%=bill.customer.id%>"> <%=customer.first_name%> <%=customer.last_name%></a></h1>
                            <p class="subtitle"><em><%=bill.customer.customer_type.name%></em></p>
                            <% }else{ %>
                            <h1 class="title is-5" style="margin-bottom: 2px;"><a href="/customer/<%=bill.customer.id%>"> <%=bill.customer.organization%></a></h1>
                            <p><%=bill.customer.first_name+' '+bill.customer.last_name%>
                                <em>(<%=bill.customer.customer_type.name;%>)</em></p>
                            <% } %>
                            <p>VAT Number: <%=bill.customer.vat_number%></p>
                            <% if (bill.customer.address1.length != 0) { %>
                            <p><%=bill.customer.address1%></p>
                            <% } %>
                            <% if (bill.customer.district != null && bill.customer.zone != null) { %>
                            <p><%= (bill.customer.district == null ? '' : bill.customer.district.value)+', '+(bill.customer.zone == null ? '' : bill.customer.zone.value) %>
                            <% }else if (bill.customer.district != null) { %>
                            <p><%= (bill.customer.district == null ? '' : bill.customer.district.value) %>
                            <% } else if (bill.customer.zone != null) { %>
                            <p><%= (bill.customer.zone == null ? '' : bill.customer.zone.value) %>
                            <% } %>
                            </p>
                            <% if (bill.customer.post_office != null) { %>
                            <p><%= bill.customer.post_office == null ? '' : bill.customer.post_office.name+' ('+bill.customer.post_office.value+')' %>
                            <% } %>
                            </p>
                            <% if (bill.customer.phone.trim().split(' ').length > 1) { %>
                            <p><%=bill.customer.phone%></p>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>Date: </th>
                        <td><%=bill.nepali_date%></td>
                    </tr>
                    <tr>
                        <th>Billed By: </th>
                        <td><%=bill.user.first_name+' '+bill.user.last_name%></td>
                    </tr>
                    <tr>
                        <th>Warehouse: </th>
                        <td><%=bill.warehouse.name%></td>
                    </tr>
                    <% if (check_perm()){ %>
                    <tr>
                        <th></th>
                        <td><button id="edit-warehouse" class="button is-primary is-rounded is-small">Edit</button></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="column">
            <div class="columns">
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <h1 class="title is-4">Items</h1>
                        </div>
                        <div class="column has-text-right">
                            <span class="subtitle">Re.</span> <span class="title is-2"><%=bill.total.toFixed(2)%></span>
                        </div>
                    </div>

                    <table class="table is-striped is-bordered is-fullwidth" id="items-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Packing</th>
                                <th>Quantity</th>
                                <th>Total Quantity</th>
                                <th>Rate</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Sub Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < bill.bill_transactions.length; i++) { const tr = bill.bill_transactions[i]; %>
                            <% if (tr.type == 'returned') continue; %>
                            <tr>
                                <td><%=(i+1)%></td>
                                <td><%=tr.inventory_record.inventory.name;%></td>
                                <td><%=tr.inventory_record.inventory_batch_record.inventory_batch.name;%> (<%=tr.inventory_record.inventory_batch_record.inventory_batch.quantity;%>)</td>
                                <td><%=tr.inventory_record.inventory_batch_record.value %></td>
                                <td><%=tr.quantity * tr.inventory_record.inventory_batch_record.inventory_batch.quantity %></td>
                                <td>Re. <%=tr.rate.toFixed(2);%></td>
                                <td class="is-capitalized"><%=tr.type%></td>
                                <td>
                                    <% if(tr.type == 'rented') { %>
                                    <% if (tr.status) { %>
                                    <p class="has-text-success return-status">Returned</p>
                                    <% } else { %>
                                    <p class="has-text-danger return-status">Pending <%=tr.remaining%> Items</p>
                                    <% } %>
                                    <div class="return-history" style="display: none;">
                                        <p>Return History</p>
                                        <ul>
                                            <% for(let j = 0; j < tr.return.length; j++) { const rt = tr.return[j]; %>
                                            <li><%= rt.quantity %>: <%= toNepaliDate(rt.createdAt); %></li>
                                            <% } %>
                                        </ul>
                                    </div>
                                    <% } %>
                                </td>
                                <td style="width: 135px;">Re. <%=(tr.quantity * tr.rate).toFixed(2);%></td>
                                <td style="width: 80px;">
                                    <% if(tr.type == 'rented') { %>
                                    <% if (!tr.status) { %>
                                    <span class="has-tooltip-arrow has-tooltip-right" data-tooltip="Add Return">
                                        <button class="button is-success is-small is-rounded"
                                            onclick="returnItem(this);"
                                            data-name="<%=tr.inventory_record.inventory.name%>"
                                            data-invid="<%=tr.inventory_record.inventory.id%>" data-trid="<%=tr.id%>"
                                            data-billid="<%=bill.id%>" data-remain="<%=tr.remaining%>">
                                            <span class="icon is-left "><i class="fas fa-plus"></i></span>
                                        </button>
                                    </span>
                                    <% } %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <table>
                        <tbody>
                            <tr>
                                <th style="width: 85px; height: 30px;">Status: </th>
                                <td>
                                    <% if (bill.paid) { %>
                                        <h1 class="title is-5 has-text-success">Paid</h1>
                                    <% } else { %>
                                        <% if (bill.danger) { %>
                                            <h1 class="title is-5 has-text-danger">Overdue</h1>
                                        <% } else { %>
                                            <h1 class="title is-5 has-text-warning">Unpaid</h1>
                                        <% } %>
                                    <% } %>
                                </td>
                            </tr>
                            <% if(bill.paid) { %>
                            <tr>
                                <th>Paid On: </th>
                                <td><%=toNepaliDateFull(bill.paidOn)%></td>
                            </tr>
                            <% } else { %>
                            <tr>
                                <th style="width: 85px; height: 30px;">Due Date: </th>
                                <td class="<%= bill.danger? 'has-text-danger': ''%>"><%=toNepaliDateFull(bill.dueDate)%></td>
                            </tr>
                            <tr>
                                <th style="width: 85px; height: 30px;"></th>
                                <td>
                                    <button class="button is-round is-success" onclick="confirmPay();">Pay</button>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="column">
                    <div class="columns" style="margin-right: 60px;">
                        <div class="column">
                            <div class="field is-grouped is-grouped-right">
                                <div style="width: 190px; text-align: right;"> <strong>Total</strong></div>
                                <div style="width: 190px; text-align: center;" id="sum-total">Re. <%= (bill.total - bill.tax + bill.discount).toFixed(2) %></div>
                            </div>
                        </div>
                    </div>
                    <div class="columns" style="margin-right: 60px;">
                        <div class="column">
                            <div class="field is-grouped is-grouped-right">
                                <div style="width: 190px; text-align: right;"> <strong>Discount</strong></div>
                                <div style="width: 150px; margin-left: 10px;" id="discount-percent">
                                    <div class="control has-icons-right">
                                        <input type="number" step="any" min="0" max="100"
                                            name="discount_percent" placeholder="Percent" class="input" readonly value="<%=bill.discountPercent.toFixed(2)%>">
                                        <span class="icon is-right">
                                            %
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 150px; margin-left: 10px;" id="discount-value">
                                    <span class="control has-icons-left">
                                        <input type="number" step="any" min="0" name="discount_value" class="input" readonly value="<%=bill.discount.toFixed(2)%>">
                                        <span class="icon is-left">
                                            Re.
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns" style="margin-right: 60px;">
                        <div class="column">
                            <div class="field is-grouped is-grouped-right">
                                <div style="width: 190px; text-align: right;"> <strong>After Discount</strong></div>
                                <div style="width: 190px; text-align: center;" id="discount-total">Re. <%= (bill.total - bill.tax).toFixed(2)%></div>
                            </div>
                        </div>
                    </div>

                    <div class="columns" style="margin-right: 60px;">
                        <div class="column">
                            <div class="field is-grouped is-grouped-right">
                                <div style="width: 190px; text-align: right;"> <strong>Tax</strong></div>
                                <div style="width: 150px; margin-left: 10px;" id="tax-percent">
                                    <div class="control has-icons-right">
                                        <input type="number" step="any"  min="0" max="100" name="tax_percent"
                                            placeholder="Percent" class="input" readonly value="<%=bill.taxRate.toFixed(2);%>">
                                        <span class="icon is-right">
                                            %
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 150px; margin-left: 10px;" id="tax-value">
                                    <span class="control has-icons-left">
                                        <input type="number" step="any" min="0" name="tax_value" class="input" readonly value="<%=bill.tax.toFixed(2);%>">
                                        <span class="icon is-left">
                                            Re.
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns" style="margin-right: 60px; border-bottom: 3px solid hsl(141, 71%, 48%);">
                        <div class="column">
                            <div class="field is-grouped is-grouped-right">
                                <div style="width: 190px; text-align: right;"> <strong>Grand Total</strong></div>
                                <div style="width: 190px; text-align: center;" id="grand-total">Re. <%=bill.total.toFixed(2);%></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-4">
                    <h1 class="title is-4">Description</h1>
                    <p><%=bill.description%></p>
                </div>
                <div class="column">
                    <h1 class="title is-4">Bill Image</h1>
                    <img style="height: 400px; width: auto;" src="<%=bill.image%>" alt="">
                </div>
            </div>
            <% if (check_perm()){ %>
            <div class="columns" style="margin-top: 50px">
                <div class="column">
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <div class="button is-success is-rounded" onclick="window.location.href = '/billing/edit/<%=bill.id%>'">Edit Bill</div>
                        </div>
                        <div class="control">
                            <div class="button is-danger is-rounded" onclick="confirmDelete()">Delete Bill</div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <% } %>

        </div>

    </div>
</div>



<div class="modal" id="confirm-delete">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"></p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <% if (!bill.rented) { %>
            <h1 class="title is-4">Confirm delete bill?</h1>
            <h1 class="subtitle has-text-danger">This action is irreversible</h1>
            <div class="columns">
                <div class="column">
                    <form action="/billing/<%=bill.id%>?_method=DELETE" method="post">
                        <button class="button is-danger is-rounded">Delete?</button>
                    </form>
                </div>
                <div class="column">
                    <button type="button" class="button is-link is-light is-rounded close-modal">Cancel</button>
                </div>
            </div>
            <% }else{ %>
                <h1 class="title is-5 has-text-danger">Item return still pending.</h1>
                <h1 class="subtitle has-text-danger">Please complete return before deleting the item</h1>
            <% } %>
        </section>
    </div>
</div>

<div class="modal" id="confirm-pay">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"></p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <h1 class="title is-4">Confirm Pay</h1>
            <form action="/billing/pay/<%=bill.id%>" method="post">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="pay_date" class="label">Payment Date</label>
                                <input type="text" class="input" id="pay_date" name="pay_date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <button class="button is-success is-rounded">Pay?</button>
                    </div>
                    <div class="column">
                        <button type="button" class="button is-link is-light is-rounded close-modal">Cancel</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


<div class="modal" id="return-item-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Return</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <h1 class="title is-3"></h1>
            <form action="/billing/return/" method="POST">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="type" class="label">Quantity</label>
                                <input type="number" id="return_quantity" name="quantity" min="0" step="1" class="input">
                                <input type="hidden" id="return-inventory" name="inventory_id">
                                <input type="hidden" id="return-bill" name="bill_id">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="return_date" class="label">Return Date</label>
                                <input type="text" class="input" id="return_date" name="return_date">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-rounded is-success">Add</button>
                    </div>
                    <div class="control">
                        <button type="button" class="button close-modal is-rounded is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


<div class="modal " id="edit-warehouse-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit Warehouse</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p class="has-text-danger" id="edit-warehouse-text"></p>
            <form id="edit-warehouse-form" style="display: none;" action="/billing/edit-warehouse/" method="POST">
                <label for="edit-user-select"  class="label">Edit Billed By</label>
                <div class="select" style="margin-bottom: 1rem;">
                    <select name="user" id="edit-user-select"> 
                        <option>Select dropdown</option>
                        <option>With options</option>
                    </select>
                </div>
                <label for="edit-warehouse-select" class="label">Edit Warehouse</label>
                <div class="select" >
                    <select name="warehouse" id="edit-warehouse-select"> 
                        <option>Select dropdown</option>
                        <option>With options</option>
                    </select>
                </div>
                <input type="hidden" name="bill" value="<%=bill.id%>">
                <p id="warehouse-error-message" class="has-text-danger"></p>

                <div style="margin-top: 2rem" class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button id="edit-warehouse-button" disabled class="button is-rounded is-success">Save</button>
                    </div>
                    <div class="control">
                        <button type="button" class="button close-modal is-rounded is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<script>
    var user_id = `<%=bill.user.id%>`;
    var bill_id = `<%=bill.id%>`;
    var warehouse_id = `<%=bill.warehouse.id%>`;
</script>

<%include ../partials/footer %>